* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color:white;
    width: 1538px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-items: center;
}

nav {
    background-color: #6d4bb3;
    border: solid 1px;
    width: 1535px;
    height: 52px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-items: center;
}

nav span {
    font-size: larger;
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 5%;
    color: white;
}
form {
    background-color: white;
    border-radius: 1%;
    padding: 32px 80px;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', 'Open Sans', Arial, sans-serif;
    font-size: large;
}

.content-match {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans', 'Open Sans', Arial, sans-serif;;
    
}

.form-title {
    background: url("images/logo1.png");
    background-size: 140px;
    background-repeat: no-repeat;
    font-size: 25px;
    margin: 50px;
    padding: 0 150px;
    min-height: 125px;
    flex-flow: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', 'Open Sans', Arial, sans-serif;
    text-align: center;
    color: #8d40b0;
}

footer {
    background-color: white;
    width: 1538px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-items: center;
}

.content1 {
    background-color: green;
    width: 1538px;
    height: 100px;
}

.content2 {
    background-color: blue;
    width: 1538px;
    height: 100px;
}

.content3 {
    background-color: black;
    width: 1538px;
    height: 100px;
}

.content4 {
    background-color: yellow;
    width: 1538px;
    height: 100px;
}

.content5 {
    background-color: orange;
    width: 1538px;
    height: 100px;
}

.content6 {
    background-color: brown;
    width: 1538px;
    height: 100px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #6d4bb3;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.content::before {
    content: "";
    position: absolute;
    background-color: rebeccapurple;
    width: 40%;
    height: 100%;
}

.firstColumn {
    text-align: center;
    flex: 1 0 auto;
    z-index: 1;
}
.secondColumn {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-content {
    display: flex;
    position: relative;
}

.list-social-media {
    display: flex;
}

.type1 {
    display: flex;
    flex-direction: column;
}

.second-content {
    position: relative;
    display: none;
}

.title {
    color: #ff2f3e;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.description {
    font-size: 14px;
    font-weight: 300;
    color: #ffff;
    line-height: 30px;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  padding: 10px 50px;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-criar {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-criar:hover {
    background-color: #ffcc5e;
    color: #ff2f3e;
}
.btn-entrar {
    background-color: transparent;
    border: 1px solid #fff;
}
.btn-entrar:hover {
    background-color: #ffcc5e;
    color: #ff2f3e;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  height: 45px;
  border: none;
  background-color: thistle;
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-Black.ttf') format("truetype");
	font-weight:900;
	font-style:normal
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-BlackItalic.ttf') format("truetype");
	font-weight:900;
	font-style:italic
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-ExtraBold.ttf') format("truetype");
	font-weight:800;
	font-style:normal
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-ExtraBoldItalic.ttf') format("truetype");
	font-weight:800;
	font-style:italic
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-Bold.ttf') format("truetype");
	font-weight:700;
	font-style:normal
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-BoldItalic.ttf') format("truetype");
	font-weight:700;
	font-style:italic
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-SemiBold.ttf') format("truetype");
	font-weight:600;
	font-style:normal
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-SemiBoldItalic.ttf') format("truetype");
	font-weight:600;
	font-style:italic
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-Medium.ttf') format("truetype");
	font-weight:500;
	font-style:normal
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-MediumItalic.ttf') format("truetype");
	font-weight:500;
	font-style:italic
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-Regular.ttf') format("truetype");
	font-weight:400;
	font-style:normal
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-RegularItalic.ttf') format("truetype");
	font-weight:400;
	font-style:italic
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-Light.ttf') format("truetype");
	font-weight:300;
	font-style:normal
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-LightItalic.ttf') format("truetype");
	font-weight:300;
	font-style:italic
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-ExtraLight.ttf') format("truetype");
	font-weight:200;
	font-style:normal
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-ExtraLightItalic.ttf') format("truetype");
	font-weight:200;
	font-style:italic
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-Thin.ttf') format("truetype");
	font-weight:200;
	font-style:normal
}

@font-face {
	font-family:"Open Sans";
	src:url('fonts/OpenSans-ThinItalic.ttf') format("truetype");
	font-weight:200;
	font-style:italic
}